.SmallVacationCard {
  text-align: left;
  height: 100px;
}

.buttonsSmallCard {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
  box-sizing: border-box;
}
